<header class="main-header">
    <!-- Logo -->
    <a href="index.php" class="logo"><b>Les Ponts de Cé</b></a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="./dist/img/ponts-de-ce.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Mairie</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">

            <li class="header">BANDEAU DE NAVIGATION</li>


            {%  for menu in content  %}
                <li id="{{ menu.menusLabel }}">
                    <a href="{{ menu.menusPath }}">
                        <i class="fa {{ menu.menusIcon }}"></i> <span>{{ menu.menusName }}</span>
                    </a>
                </li>
            {% endfor %}


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>