{% extends "@A2Core/Layout/main_layout.html.twig" %}


{% block body %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Écran
                <small>Menu Principal</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Ecran</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            plop

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->


{% endblock %}