{% extends "@A2Core/Layout/main_layout.html.twig" %}

{% block title_url %}
    Ajout d'un document
<{% endblock %}

{% block css %}
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="{{ asset('plugins/timepicker/bootstrap-timepicker.min.css') }}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker-bs3.css') }}">

{% endblock %}

{% block js %}
    <!-- daterangepicker -->
    <script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ asset('bundles/a2core/js/add_file.js') }}"></script>

{% endblock %}

{% block body %}


    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Ecran
                <small>Menu Principal</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
                <li class="active">Ecran</li>
            </ol>
        </section>

            <div class="col-lg-12" style="width:100%;height:100px;">
            </div>

            <div class="col-lg-3">
                <a href="/app_dev.php/admin" type="button" class="btn btn-block btn-success btn-lg" class="btn btn-block btn-warning btn-lg" style="line-height:140px;margin-right:20%; height:160px;width:160px;">Catégories</a>
            </div>

            <div class="col-lg-3">
                <a href="/app_dev.php/test/borne/accueil" type="button" class="btn btn-block btn-warning btn-lg" style="line-height:140px;margin-right:20%; height:160px;width:160px;">Borne</a>
            </div>

            <div class="col-lg-3">
                <a href="/app_dev.php/test/settings/theme/home" type="button" class="btn btn-block btn-danger btn-lg" class="btn btn-block btn-warning btn-lg" style="line-height:140px;margin-right:20%; height:160px;width:160px;">Thème Accueil</a>
            </div>

            <div class="col-lg-3">
                <a href="/app_dev.php/test/settings/theme/content" type="button" class="btn btn-block btn-danger btn-lg" class="btn btn-block btn-warning btn-lg" style="line-height:140px;margin-right:20%; height:160px;width:160px;">Thème Contenu</a>
            </div>

        <!-- Main content -->
        <section class="content">
            <button
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->


{% endblock %}